**/build
**/CMakeFiles
**/compile_commands.json
**/CMakeCache.txt
**/cmake_install.cmake
**/Makefile
**/_deps
**/CPackConfig.cmake
**/CPackSourceConfig.cmake
**/.cache

#linux generated libs
**/*.so
**/*.a

#windows generated libs
**/*.dll
**/*.lib

#mac generated libs
**/*.dylib
**/*.a
